html, body, .container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:#DDD;
  padding-left: 2%;
  padding-right: 2%;
}
h1 {
  color: #cc0080;
  text-align: center;
  margin: 1em;
  margin-bottom: 1.5em;
  font-size: 6em;
  font-family: URW Chancery L;
}
.row div {
  margin-bottom: 5%;
}
p {
  text-align: center;
  font: 3em bold;
  font-family: URW Chancery L;
  margin-top: 5%;
}
img {
    width: 450px;
    height: 315px;
    border: 2px solid black;
    margin: 0.5em;
    margin-right: 1em;
  }
